<div class="chat col-xs-12">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-sm-11">
          {{chat.channel}}
        </div>
        <div class="col-sm-1 text-right">
          <a href="" class="close" (click)="leave()">x</a>
        </div>
      </div>
    </div>
    <ul class="list-group list-group-flush online-list-sub">
      <li class="list-group-item" *ngFor="let user of getUsers(chat.users)"
          ng-hide="user.hideWhileSearch">
        {{user.state.username}}
        <span *ngIf="user.isTyping">is typing...</span>
      </li>
    </ul>
    <div class="card-body">
      <div>
        <div *ngFor="let message of messages" [ngClass]="{'text-right': !message.isSelf}">
          <p class="text-muted" [ngClass]="{'d-none': message.sameUser}">{{message.sender.state.username}}</p>
          <p>{{message.data.text}}</p>
        </div>
      </div>
      <p class="typing text-muted"></p>
      <div class="send-message">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Your Message..." [(ngModel)]="message"
                 (ngModelChange)="chat.typingIndicator.startTyping()">
          <span class="input-group-btn">
              <button class="btn btn-primary" type="submit" (click)="send()">Send</button>
            </span>
        </div>
      </div>
      <hr/>
      <div class="card-body">
        <h6>Add a user to this chat</h6>
        <div ng-submit="searchFromGlobal()">
          <div class="input-group">
            <input type="text" class="form-control message"
                   placeholder="Add User" (ngModelChange)="search()" [(ngModel)]="mysearch"/>
          </div>
        </div>
        <ul class="list-group list-group-flush online-list-sub">
          <li class="list-group-item" *ngFor="let user of users">
            <a href="" (click)="invite(user)">{{user.state.username}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
